.top_conte {
  margin-top: 35px;
  margin-bottom: 35px;
  .logo {
    $size: 48px;
    width: $size;
    height: $size;
    float: left;
  }
  .test {
    margin: 0;
    .div_for_img {
      width: 15%;
    }

    a {
      margin-right: 0;
      margin-left: 0;
      text-decoration: none;
      div {
        padding: 5px 25px 5px 25px;
        font-size: 1.2em;
        color: rgb(119, 119, 119);
        border-radius: 5px;
        transition: 0.4s;
        &:hover {
          background-color: #cfcfcf;
        }
      }
      .home {
        background-color: #fdbd41;
        color: white;
        border-radius: 5px;
        transition: 0.4s;
        &:hover {
          background-color: #e7ad48;
        }
      }
    }
  }
}

.bottom_top {
  background-color: #719dca;
  .text_top {
    margin-top: 90px;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: white;
  }
  .text_bottom {
    margin-top: -8px;
    font-size: 1.2em;
    text-align: center;
    color: white;
  }
  form {
    div {
      &:nth-child(1) {
        input {
          padding-left: 35px;
          background: url("img/name.png") no-repeat 13px;
          background-color: white;
        }
      }

      &:nth-child(2) {
        input {
          padding-left: 35px;
          background: url("img/email.png") no-repeat 13px;
          background-color: white;
        }
      }

      &:nth-child(3) {
        input {
          padding-left: 35px;
          background: url("img/number.png") no-repeat 13px;
          background-color: white;
        }
      }
    }
    button {
      width: 73%;
      background-color: #fdbd41;
      border-color: #fdbd41;
      transition: 0.4s;

      &:hover,
      &:active,
      &:focus {
        background-color: #fdbd41;
        border-color: #e7ad48;
        &:hover {
          background-color: #e7ad48;
        }
      }
    }
    input,
    button {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .carousel {
    margin-top: 100px;
    position: relative;
    left: 50%;
    top: 0px;
    min-width: 483px;
    max-width: 1500px;
    transform: translate(-50%);
    .img {
      left: 50%;
      transform: translate(-50%);
      width: 40%;
      min-width: 303px;
    }
    .laptop {
      position: absolute;
      top: -7%;
      left: 50%;
      transform: translate(-50%);
      width: 58%;
      min-width: 440px;
    }
    .indicator {
      position: absolute;
      top: 125%;
      transform: translate(0, -50%);

      button {
        $size: 13px;
        background-color: transparent;
        border: 2.8px solid #4a86c2;
        border-radius: $size;
        width: $size;
        height: $size;
      }
    }
  }
}

.services {
  margin-top: 160px;
  .text_top {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: #394b50;
  }
  .text_bottom {
    margin-top: -8px;
    font-size: 1.2em;
    text-align: center;
    color: #394b50;
  }
  .text_main {
    margin-top: 80px;
    @media (max-width: 767.98px) {
      margin-top: 0;
    }
    .col {
      @media (max-width: 767.98px) {
        margin-top: 80px;
      }
      &:nth-child(2n) {
        table {
          width: 100%;
        }
      }
    }
    table {
      width: 95%;
      @media (max-width: 767.98px) {
        width: 100%;
      }
      .table_img {
        width: 80px;
      }
      .table_img_2 {
        width: 110px;
        text-align: center;
        @media (max-width: 767.98px) {
          width: 80px;
        }
        img {
          @media (max-width: 767.98px) {
            text-align: left;
          }
        }
      }
      .table_text {
        margin-right: 10px;
        .text_top {
          font-weight: bold;
          font-size: 1.1em;
          text-align: left;
        }
        .text_bottom {
          margin-top: 4px;
          font-size: 1em;
          text-align: left;
          color: rgb(119, 119, 119);
        }
      }
    }
  }
}

.about_us {
  padding-left: 0;
  padding-right: -12;
  margin-top: 150px;
  background-color: #ffc155;
  div:nth-child(1) {
    padding-right: 0;
    img {
      max-width: 970px;
      height: 714px;
      float: right;
    }
  }
  div:nth-child(2) {
    padding-right: 0;
  }
  .main_text {
    max-width: 655px;
    @media (max-width: 992px) {
      max-width: 950px;
      margin-top: -10%;
      padding-bottom: 160px;

      .text_top,
      .text_bottom {
        margin-left: 0;
      }
    }
    .text_top {
      margin-top: 19%;
      margin-left: 10%;
      font-size: 30px;
      font-weight: bold;
      color: white;
    }
    .text_bottom {
      margin-left: 10%;
      color: white;
    }
    .button_div {
      width: 155px;
      margin-top: 25px;
      margin-left: 10%;
      .button {
        text-decoration: none;
        color: white;
        font-size: 14pt;
        div {
          border: 1px solid #e7ad48;
          padding: 15px 25px 15px 25px;
          border-radius: 2px;
          transition: 0.4s;
          &:hover {
            background-color: #e7ad48;
          }
        }
      }
    }
  }
}

.price {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #e7edf3;
  .container {
    .text {
      text-align: center;
      .text_top {
        font-weight: bold;
        font-size: 2em;
        color: #394b50;
      }
      .text_bottom {
        margin-top: -8px;
        font-size: 1.1em;
        color: rgb(119, 119, 119);
      }
    }
    .cards {
      margin-top: 50px;
      .left {
        border-left: 1px solid #ccd5df;
      }
      .right {
        border-right: 1px solid #ccd5df;
      }
      .left,
      .right {
        border-top: 1px solid #ccd5df;
        border-bottom: 1px solid #ccd5df;
        background-color: white;
        height: 440px;
        border-radius: 3px;
        text-align: center;
        @media (max-width: 992px) {
          width: 390px;
        }
        .text_top {
          margin-top: 40px;
          font-size: 22pt;
          color: #818b95;
        }
        .money {
          margin-top: -15px;
          color: #ffbb42;
          font-size: 72px;
          span {
            font-size: 40px;
            vertical-align: 40%;
          }
        }
        .text_bottom {
          color: #818b95;
          margin-top: -18px;
          font-size: 13pt;
          margin-bottom: 15px;
        }
        hr {
          background-color: #e2e9f0;
          width: 85%;
          margin: auto;
          margin-top: 10px;
        }
        .bottom {
          margin-top: 10px;
          color: #b5bbc1;
          font-size: 13.5pt;
        }
      }
      .center {
        background-color: #709dca;
        height: 500px;
        border-radius: 3px;
        text-align: center;
        @media (max-width: 992px) {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 400px;
        }
        .text_top {
          color: white;
          margin-top: 70px;
          font-size: 22pt;
        }
        .money {
          margin-top: -15px;
          color: white;
          font-size: 72px;
          span {
            font-size: 40px;
            vertical-align: 40%;
          }
        }
        .text_bottom {
          color: white;
          margin-top: -18px;
          font-size: 13pt;
          margin-bottom: 15px;
        }
        hr {
          background-color: #8eb8e2;
          width: 85%;
          margin: auto;
          margin-top: 10px;
        }
        .bottom {
          margin-top: 10px;
          color: #c2e1ff;
          font-size: 13.5pt;
        }
      }
      .button_div {
        width: 165px;
        margin: auto;
        .button {
          text-decoration: none;
          color: white;
          font-size: 14pt;
          div {
            background-color: #ffbb42;
            margin-top: 25px;
            padding: 10px 20px 10px 20px;
            border-radius: 3px;
            transition: 0.4s;
            &:hover {
              background-color: #e7ad48;
            }
          }
        }
      }
    }
  }
}

.how_it_works {
  padding-top: 160px;
  padding-bottom: 160px;
  .container {
    .header {
      text-align: center;
      .text_top {
        font-weight: bold;
        font-size: 2em;
        color: #394b50;
      }
      .text_bottom {
        margin-top: -8px;
        font-size: 1.1em;
        color: #394b50;
      }
    }
    .cards {
      text-align: center;
      margin-top: 100px;
      .step_1,
      .step_3 {
        .img:after {
          position: absolute;
          left: 100%;
          top: -10%;
          transform: translate(-50%, -50%);
          @media (max-width: 767.98px) {
            transform: rotate(90deg);
            top: 120%;
            left: 45%;
          }
          content: url("img/top.png");
        }
      }
      .step_2 {
        .img:after {
          position: absolute;
          left: 100%;
          top: 25%;
          transform: translate(-50%, -50%);
          @media (max-width: 767.98px) {
            transform: rotate(90deg);
            top: 120%;
            left: 30%;
          }
          content: url("img/bottom.png");
        }
      }
      @media (max-width: 767.98px) {
        .step_2,
        .step_3,
        .step_4 {
          margin-top: 150px;
        }
      }
      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        .img {
          height: 57px;
        }
        position: relative;
        .text {
          .text_top {
            margin-top: 100px;
            font-size: 20pt;
          }
          .text_bottom {
            margin: auto;
            color: #8d8d8d;
            width: 80%;
          }
        }
      }
    }
    .button_div {
      width: 212px;
      margin: auto;
      margin-top: 90px;
      .button {
        text-decoration: none;
        color: white;
        font-size: 14pt;
        div {
          background-color: #ffbb42;
          padding: 15px 30px 15px 30px;
          border-radius: 3px;
          transition: 0.4s;
          &:hover {
            background-color: #e7ad48;
          }
        }
      }
    }
  }
}

.happy_clients {
  background-color: #ffc155;
  padding-top: 160px;
  padding-bottom: 160px;
  .container {
    .header {
      text-align: center;
      .text_top {
        font-weight: bold;
        font-size: 2em;
        color: white;
      }
      .text_bottom {
        margin-top: -8px;
        font-size: 1.1em;
        color: white;
      }
    }
    .cards {
      margin-top: 63px;
      .col {
        table {
          border-radius: 5px;
          background-color: white;
          width: 99.5%;
          @media (max-width: 992px) {
            width: 100%;
          }
          .img {
            padding: 40px 35px 40px 35px;
          }
          .text_main {
            position: relative;
            font-size: 13pt;
            color: #7b7b7b;
            &::before {
              position: absolute;
              left: -3%;
              top: 4%;
              transform: translate(-50%, -50%);
              content: url("img/text_top.png");
            }
            &::after {
              position: absolute;
              left: 98%;
              top: 100%;
              transform: translate(-50%, -50%);
              content: url("img/text_bottom.png");
            }
          }
        }
        .text_bottom {
          font-size: 14pt;
          color: #f78948;
          span {
            color: #99a9ae;
          }
        }
      }
    }
  }
}

.newsletter {
  padding-top: 160px;
  padding-bottom: 160px;
  .container {
    .header {
      text-align: center;
      .text_top {
        font-weight: bold;
        font-size: 2em;
        color: #394b50;
      }
      .text_bottom {
        margin-top: -8px;
        font-size: 1.1em;
        color: #394b50;
      }
    }
    form {
      div {
        &:nth-child(1) {
          input {
            padding-left: 35px;
            background: url("img/name.png") no-repeat 13px;
            background-color: white;
          }
        }

        &:nth-child(2) {
          input {
            padding-left: 35px;
            background: url("img/email.png") no-repeat 13px;
            background-color: white;
          }
        }

        &:nth-child(3) {
          input {
            padding-left: 35px;
            background: url("img/number.png") no-repeat 13px;
            background-color: white;
          }
        }
      }
      button {
        width: 73%;
        background-color: #fdbd41;
        border-color: #fdbd41;
        transition: 0.4s;

        &:hover,
        &:active,
        &:focus {
          background-color: #fdbd41;
          border-color: #e7ad48;
          &:hover {
            background-color: #e7ad48;
          }
        }
      }
      input,
      button {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .bottom {
      margin-top: 50px;
      position: relative;
      .logo {
        position: absolute;
        left: 50%;
        top: 63%;
        transform: translate(-50%, -50%);
      }
      .hover {
        // visibility:hidden;
        img {
          width: 70%;
        }
        position: absolute;
        left: 53.3%;
        top: 240px;
        transform: translate(-50%, -50%);
        .text {
          text-align: center;
          position: absolute;
          left: 10%;
          top: 20px;

          .top {
            color: white;
            font-size: 13pt;
          }
          .main {
            color: #aeb7ba;
            font-size: 10pt;
          }
          .bottom_text {
            color: #ffbb42;
            font-size: 10pt;
          }
        }
      }
    }
  }
  // }
}

.top_footer {
  padding-top: 160px;
  padding-bottom: 50px;
  .container {
    a {
      margin-right: 0;
      margin-left: 0;
      text-decoration: none;
      div {
        padding: 5px 25px 5px 25px;
        font-size: 1.2em;
        color: rgb(119, 119, 119);
        border-radius: 5px;
        transition: 0.4s;
        &:hover {
          background-color: #cfcfcf;
        }
      }
    }
    .number {
      margin-top: 20px;
      text-align: center;
      font-size: 22pt;
      img {
        width: 25px;
      }
    }
    .soc {
      margin-top: 20px;
      a {
        font-size: 20pt;
      }
      i {
        color: #709dca;
      }
      .fa-twitter {
        color: #ffc155;
      }
    }
  }
}
footer {
  text-align: center;
  background-color: #709dca;
  color: white;
  font-size: 13pt;
  padding-top: 20px;
  padding-bottom: 20px;
}
