@media only screen and (max-width: 561px) {
  #text_slide {
    font-size: 5em;
  }
  #text {
    font-size: 2em;
  }
}
@media only screen and (max-width: 768px) {
  #form {
    padding-top: 1000px;
    input[type="text"],
    input[type="email"] {
      margin-top: 5px;
    }
  }
}

a {
  text-decoration: none;
}
.col {
  a {
    transition: 0.3s;
    color: black;
  }
  &:hover > a {
    color: white;
  }
}
#top {
  position: relative;
}
img {
  height: 800px;
}
#text {
  z-index: 1;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  font-family: "Raleway";
  img {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -20%;
  }
}
#slide {
  span {
    transition: 0.3s;
  }
  button:hover {
    span {
      background-color: rgb(241, 82, 82);
    }
  }
  #text_slide {
    color: black;
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    font-family: "Raleway";
  }
}
#watch {
  z-index: 1;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
}

#card {
  margin-top: 650px;
  height: 500px;
  div {
    height: 500px;
    div {
      height: 500px;
      h2 {
        position: relative;
        top: 50%;
      }
    }
  }
}
.btn-light {
  color: red;
  width: 40%;
  transition: 0.3s;
}

#form {
  margin-top: 120px;

  input[type="date"] {
    width: 84%;
  }
  #area {
    width: 89%;
  }
  textarea {
    resize: none;
  }
  #img {
    display: flex;
    #img2 {
      width: 20%;
      height: 20%;
    }
  }
  span {
    color: red;
  }
  .text-right {
    position: relative;
    top: -6%;
    text-align: right;
  }
  #more {
    position: relative;
    top: -6%;
    text-align: right;
  }
}
section.news {
  margin-top: 40px;
  h4 {
    color: orange;
  }
  .red {
    background-color: #dd3f3e;
    border-radius: 20px;
    height: 85px;
    color: #fff;
    text-align: center;
  }
}

footer {
  margin-top: 20px;
  color: #fff;
  padding: 30px 0;
  background-color: #002144;
  button {
    color: #fff;
    float: right;
    height: 30px;
    width: 30px;
    background-color: #dd3f3e;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  .return {
    position: fixed;
    top: 87%;
    height: 30px;
    width: 30px;
    bottom: 30px;
    right: 50px;
    border-top: 6px solid grey;
    border-left: 6px solid grey;
    transform: rotate(45deg);
  }
}